p{
    color: #00FF41
    ;
}
background{
    background-color: #0D0208;
}
p{
    color: #F3DDC9;
}
background{
    background-color: #2A150F;
}
p{
    color: #285AC1;
}
background{
    background-color: #FED387;
}